---
import config from '../lib/load-config';

interface Props {
  title: string;
  description: string;
  ogType?: 'website' | 'article';
  author?: string;
}

const { title, description, ogType = 'website', author = config.user.name } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const faviconURL = `${import.meta.env.BASE_URL}favicon.svg`;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<link rel="canonical" href={canonicalURL} />
<link rel="icon" type="image/svg+xml" href={faviconURL} />

<title>{title}</title>
<meta name="description" content={description} />
<meta name="author" content={author} />

<meta property="og:type" content={ogType} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content={config.meta.siteTitle} />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />

<meta name="robots" content="index,follow" />
